<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/header-head :: head"></th:block>
</head>

<header role="banner" th:replace="fragments/header-logo :: header">&nbsp;</header>

<body>

<div class="container">
    <button class="btn btn-lg btn-primary btn-block" type="submit"
            onclick="window.location.href='login.html'">Connexion
    </button>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Créer un compte</button>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Utiliser en anonyme</button>
</div>

</body>
</html>
